<div class="col-md-8 col-md-offset-2">
    <h2>Here's your bucket lists... <small style="float: right;" ng-click="open('sm')">New</small></h2>
    <uib-accordion close-others="oneAtATime">
        <div ng-repeat="bucket in buckets">
            <div uib-accordion-group class="panel-default" heading="{{bucket.name}}">
                <div class="col-sm-6 col-md-2 col-lg-2" ng-repeat="attraction in bucket.attractions">
                    <div class="thumbnail">
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t31.0-8/q84/s960x960/16797156_1653912594625914_8836844879869293276_o.jpg?oh=944dd5edd7e075ac9db4204fa5d1ce65&oe=592A10C0" alt="...">
                    <div class="caption">
                        <h4 class="text-center" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 250px">{{attraction.data.name}}</h4>
                        <p class="text-center" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 250px">{{attraction.data.location}}</p>
                        <p class="text-center"><a href="#" class="btn btn-danger" role="button">Remove</a></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
  </uib-accordion>
</div>
<script type="text/ng-template" id="newBucket.html">
<div class="modal-body" id="modal-body">
      <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Bucket Name</label>
            <div class="input-group">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Bucket Name" ng-model="bucketName">
            <div class="input-group-addon">Name</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="create(bucketName)">Create</button>
        </form>
    </div>
</script>