<div class="col-md-8 col-md-offset-2">
    <h2>Here's your bucket lists... <small style="float: right;" ng-click="open('sm')">New</small></h2>
        <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded">
      This content is straight in the template.
    </div>
    <div uib-accordion-group class="panel-default" heading="Summer 2017">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="col-md-6 col-sm-12">
                    <div class="card-style">
                        <div class="media">

                            <div class="media-left">
                                <img class="media-object img-thumbnail card-img" src="64/Scotland.png">
                            </div>

                            <div class="media-body">
                                <a href="#"><h5 class="media-heading">Aberdeen - Scotland</h5></a>
                                <div class="members pull-left"><small>1.235 People want to go too</small></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card-style">
                        <div class="media">

                            <div class="media-left">
                                <img class="media-object img-thumbnail card-img" src="https://goo.gl/cJajax">
                            </div>

                            <div class="media-body">
                                <a href="#"><h5 class="media-heading">Disc. Programação Internet Rica - 2016.2</h5></a>
                                <div class="members pull-left"><small>1.235 Members</small></div><div class="btn btn-sm btn-danger pull-right btn-part">Join Group</div>
                                <div class="btn btn-sm btn-danger pull-right btn-part">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card-style">
                        <div class="media">

                            <div class="media-left">
                                <img class="media-object img-thumbnail card-img" src="https://goo.gl/cJajax">
                            </div>

                            <div class="media-body">
                                <a href="#"><h5 class="media-heading">Disc. Programação Internet Rica - 2016.2</h5></a>
                                <div class="members pull-left"><small>1.235 Members</small></div><div class="btn btn-sm btn-danger pull-right btn-part">Join Group</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="card-style">
                        <div class="media">

                            <div class="media-left">
                                <img class="media-object img-thumbnail card-img" src="64/Poland.png">
                            </div>

                            <div class="media-body">
                                <a href="#"><h5 class="media-heading">Warsaw - Poland</h5></a>
                                <div class="members pull-left"><small>1.235 Members</small></div><div class="btn btn-sm btn-danger pull-right btn-part">Join Group</div>
                                <div class="btn btn-sm btn-danger pull-right btn-part">+</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </uib-accordion>
</div>
<script type="text/ng-template" id="newBucket.html">
<div class="modal-body" id="modal-body">
      <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Bucket Name</label>
            <div class="input-group">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Bucket Name" ng-model="bucketName">
            <div class="input-group-addon">Name</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="create(bucketName)">Create</button>
        </form>
    </div>
</script>