<style>
    .quickName
    {
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .selected{
        background: #004899;
        color: white;
    }
    </style>

<div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
    <div style="width: 100%; overflow-x: scroll;">
        <ul >
            <li style="display: inline-block;" style="height: 100%;">
                <div class="panel panel-default" style="cursor:pointer;">
                    <div class="panel-body">
                        <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 80px"></i>
                        <h4 class="quickName" style="text-align: center;">New</h4>
                    </div>
                </div>
            </li>
            <li style="display: inline-block;" style="height: 100%; top: 0;" ng-repeat="attraction in owned">
                <div class="panel panel-default" style="cursor:pointer;" ng-class="{'selected': attraction.selected}" ng-click="selectAttraction(attraction._id)">
                    <div class="panel-body">
                        <img class="img-circle" style="height: 80px; width: 80px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Tour_Eiffel_Wikimedia_Commons_(cropped).jpg/240px-Tour_Eiffel_Wikimedia_Commons_(cropped).jpg" alt="...">
                        <h4 class="quickName" style="text-align: center">{{attraction.name}}</h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="margin-top: 20px;">
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Details">
                <h3>{{selected.name}} <small>{{selected.location}}</small></h3>
                <table class="table table-striped">
                    <th>Property</th><th>Value</th>
                    <tr>
                        <td>Name</td><td>{{selected.name}}</td>
                    </tr>
                    <tr>
                        <td>Location</td><td>{{selected.location}}</td>
                    </tr>
                    <tr>
                        <td>Address</td><td>{{selected.address}}</td>
                    </tr>
                    <tr>
                        <td>Place Type</td><td>{{selected.types}}</td>
                    </tr>
                    <tr>
                        <td>Current Offers</td><td>{{selected.offers.length}}</td>
                    </tr>
                    <tr>
                        <td>Future Offers</td><td>{{selected.offers.length}}</td>
                    </tr>
                </table>
            </uib-tab>
            <uib-tab index="1" heading="Offers & Promotions">
                <h3>Offers and Promotions <small><button type="button" class="btn btn-primary btn-sm" ng-click="newOffer()">Create New</button></small></h3>
                <table class="table table-bordered">
                    <th>Live</th><th>Offer Name</th><th>Description</th><th>Created</th><th>Start Date</th><th>End Date</th><th>Expires</th><th>Options</th>
                    <tr ng-repeat="offer in selected.offers">
                        <td style="text-align: center"><span class="label label-success">Live</span></td>
                        <td>{{offer.name}}</td>
                        <td>{{offer.description}}</td>
                        <td>{{offer.stamp}}</td>
                        <td>{{offer.start}}</td>
                        <td>{{offer.end}}</td>
                        <td>{{offer.expiry}}</td>
                        <td style="font-size: 18px; text-align: center;">
                            <i class="fa fa-wrench" aria-hidden="true" style="cursor: pointer;"></i>
                            <i class="fa fa-info-circle" aria-hidden="true" style="cursor: pointer;" ng-click="showDetails(offer)"></i>
                            <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;" ng-click="removeOffer(offer)"></i>
                        </td>
                    </tr>
                </table>
            </uib-tab>
            <uib-tab index="2" heading="Settings">
                
                        
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<script type="text/ng-template" id="confirmAction.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">Confirm Action!</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}" style="text-align: center">
            <h4>You are about to remove an offer.<br />
                    <code>{{offer.name}}</code><br />
                 This action can't be undone.</h4>
            <button type="button" class="btn btn-danger" ng-click="acceptRemove()">Delete</button> 
        </div>
    </script>

<script type="text/ng-template" id="offerDetails.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-{{name}}">Details</h4>
        </div>
        <div class="modal-body" id="modal-body-{{name}}" style="text-align: center">
            <canvas id="bar" class="chart chart-bar"  chart-data="data" chart-labels="labels" chart-series="series"> </canvas>
        </div>
    </script>

<script type="text/ng-template" id="newOffer.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-{{name}}">Create Offer</h4>
        </div>
        <div class="modal-body" id="modal-body-{{name}}" style="text-align: center">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Offer Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Offer Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">End Date</label>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </script>    