<div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
    <div style="width: 100%; overflow-x: scroll;">
        <ul >
            <li style="display: inline-block;" style="height: 100%;">
                <div class="panel panel-default" style="cursor:pointer;">
                    <div class="panel-body">
                        <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 80px"></i>
                        <h4 class="quickName" style="text-align: center;">New</h4>
                    </div>
                </div>
            </li>
            <li style="display: inline-block;" style="height: 100%; top: 0;" ng-repeat="attraction in owned">
                <div class="panel panel-default" style="cursor:pointer;" ng-class="{'selected': attraction.selected}" ng-click="selectAttraction(attraction._id)">
                    <div class="panel-body">
                        <img class="img-circle" style="height: 80px; width: 80px;" ng-src="../uploads/places/profile/{{attraction.profile.photo}}" alt="...">
                        <h4 class="quickName" style="text-align: center">{{attraction.name}}</h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="margin-top: 20px;">
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Details">
                <h3>{{selected.name}} <small>{{selected.location}}</small></h3>
                <table class="table table-striped">
                    <th>Property</th><th>Value</th>
                    <tr>
                        <td>Name</td><td>{{selected.name}}</td>
                    </tr>
                    <tr>
                        <td>Location</td><td>{{selected.location}}</td>
                    </tr>
                    <tr>
                        <td>Address</td><td>{{selected.address}}</td>
                    </tr>
                    <tr>
                        <td>Place Type</td><td>{{selected.types}}</td>
                    </tr>
                    <tr>
                        <td>Total Offers</td><td>{{selected.offers.length}}</td>
                    </tr>
                    <tr>
                        <td>Future Offers</td><td>{{futureOffers}}</td>
                    </tr>
                    <tr>
                        <td>Live Offers</td><td>{{liveOffers}}</td>
                    </tr>
                </table>
            </uib-tab>
            <uib-tab index="1" heading="Offers & Promotions">
                <h3>Offers and Promotions <small><button type="button" class="btn btn-primary btn-sm" ng-click="newOffer()">Create New</button></small></h3>
                <table class="table table-bordered">
                    <th>Live</th><th>Offer Name</th><th>Description</th><th>Created</th><th>Start Date</th><th>End Date</th><th>Expires</th><th>Options</th>
                    <tr ng-repeat="offer in selected.offers">
                        <td style="text-align: center"><span class="label {{offer.status.color}}">{{offer.status.text}}</span></td>
                        <td>{{offer.name}}</td>
                        <td>{{offer.description}}</td>
                        <td>{{offer.stamp}}</td>
                        <td>{{offer.start}}</td>
                        <td>{{offer.end}}</td>
                        <td>{{offer.expiry}}</td>
                        <td style="font-size: 18px; text-align: center;">
                            <i class="fa fa-wrench" aria-hidden="true" style="cursor: pointer;"></i>
                            <i class="fa fa-info-circle" aria-hidden="true" style="cursor: pointer;" ng-click="showDetails(offer)"></i>
                            <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;" ng-click="removeOffer(offer)"></i>
                        </td>
                    </tr>
                </table>
            </uib-tab>
            <uib-tab index="2" heading="Settings">
                <div style="padding-top:50px;"> </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h1 class="panel-title pull-left" style="font-size:30px;">Settings for {{selected.name}}</h1>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="panel-title pull-left">Place</h3>
                                <br><br>
                                <form class="form-horizontal">
                                    <label for="First_name">Name</label>
                                    <input type="text" class="form-control" id="First_name" placeholder="{{selected.name}}">
                                    <label for="Last_name">City</label>
                                    <input type="text" class="form-control" id="Last_name" placeholder="{{selected.location}}">
                                    <label for="Last_name">Full Address</label>
                                    <input type="text" class="form-control" id="Last_name" placeholder="{{selected.address}}">
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="panel-title pull-left">Describe yourself in 5 words</h3>
                                <br><br>
                                <form class="form-horizontal">
                                    <input type="text" class="form-control" id="keywords" placeholder="Like #movies #kittens #travel #teacher #newyork">
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="panel-title pull-left">Your photo</h3>
                                <br><br>
                                <div align="center">
                                    <div class="col-lg-12 col-md-12">
                                        <img class="img-thumbnail img-responsive" ng-src="../uploads/places/profile/{{selected.profile.photo}}" width="300px" height="300px">
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button class="btn btn-primary" ngf-select="uploadNewProfilePhoto($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"><i class="fa fa-upload" aria-hidden="true"></i> Upload a new profile photo!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="panel-title pull-left">My extended profile</h3>
                                <br /> <br />
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group class="panel-default" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                        <uib-accordion-heading><span style="color: red;">Delete</span> {{selected.name}}</uib-accordion-heading>
                                        
                                        This action is irreversable. Make sure you really mean to DELETE this place from the database permanently.
                                    </div>
                                    <div uib-accordion-group class="panel-default">
                                        <uib-accordion-heading><span style="color: red;">Unclaim</span> {{selected.name}}</uib-accordion-heading>
                                        
                                        This action is irreversable. Make sure you really mean to UNCLAIM this place.
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="panel-title pull-left">Profile settings</h3>
                                <br><br>
                                <h4>Search</h4>
                                <div class="well checkbox">
                                    <label class="checkbox-inline" for="profile_searchable"><input type="checkbox" name="profile[searchable]" id="profile_searchable" value="true" checked="checked">
                                        Allow for people to search for you within diaspora*
                                    </label>
                                </div>
                                <br>
                                <h4>NSFW</h4>
                                <p>NSFW (“not safe for work”) is diaspora*’s self-governing community standard for content which may not be suitable to view while at work. If you plan to share such material frequently, please check this option so that everything you share will be hidden from people’s streams unless they choose to view them.</p>
                                <div class="well checkbox">
                                    <label class="checkbox-inline" for="profile_nsfw"><input type="checkbox" name="profile[nsfw]" id="profile_nsfw" value="true">
                                        Mark everything I share as NSFW
                                    </label>
                                </div>
                                <p class="text-danger"><strong><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> If you choose not to select this option, please add the #nsfw tag each time you share such material.</strong></p>
                                <button class="btn btn-default"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Cancel</button>
                                <button class="btn btn-primary"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Update Profile</button>
                            </div>
                        </div>
                    </div>
                        
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<script type="text/ng-template" id="confirmAction.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">Confirm Action!</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}" style="text-align: center">
            <h4>You are about to remove an offer.<br />
                    <code>{{offer.name}}</code><br />
                 This action can't be undone.</h4>
            <button type="button" class="btn btn-danger" ng-click="acceptRemove()">Delete</button> 
        </div>
    </script>

<script type="text/ng-template" id="offerDetails.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-{{name}}">Details</h4>
        </div>
        <div class="modal-body" id="modal-body-{{name}}" style="text-align: center">
            <canvas id="bar" class="chart chart-bar"  chart-data="data" chart-labels="labels" chart-series="series"> </canvas>
        </div>
    </script>

<script type="text/ng-template" id="newOffer.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-{{name}}">Create Offer</h4>
        </div>
        <div class="modal-body" id="modal-body-{{name}}" style="text-align: center">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="newOffer.name" placeholder="Offer Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="newOffer.description" placeholder="Offer Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="newOffer.start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">End Date</label>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="newOffer.end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Start Time</label>
                        <div class="col-xs-1">
                            <input type="text" ng-model="newOffer.time.start.hour" class="form-control" placeholder="HH">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" ng-model="newOffer.time.start.minute" class="form-control" placeholder="MM">
                        </div>
                        <label for="inputPassword3" class="col-sm-2 control-label">End Time</label>
                        <div class="col-xs-1">
                            <input type="text" ng-model="newOffer.time.end.hour" class="form-control" placeholder="HH">
                        </div>
                        <div class="col-xs-1">
                            <input type="text" ng-model="newOffer.time.end.minute" class="form-control" placeholder="MM">
                        </div>
                </div>
                <div class="form-group">
                    <div class="">
                    <button type="submit" class="btn btn-success" ng-click="createOffer(newOffer)">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </script>    