<div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
  <div style="padding-top:50px;"> </div>
  <div class="col-lg-3 col-md-5 hidden-sm hidden-xs">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
              <div align="center">
                <img class="thumbnail img-responsive" src="../uploads/profile/default.png" ng-src="../uploads/profile/{{profileData.profile.photo}}" ng-click="changeProfilePhoto()" style="width: 300px; height: 300px;">
              </div>
              <div class="media-body" style="overflow-wrap: normal; width: 100%">
                <div ng-if="profileData.profile.bio">
                  <hr>
                  <h3><strong>Bio</strong></h3>
                  <p>{{profileData.profile.bio}}</p>
                </div>
                <div ng-if="profileData.profile.location">
                  <hr>
                  <h3><strong>Location</strong></h3>
                  <p>{{profileData.profile.location}}</p>
                </div>
                <div ng-if="profileData.profile.gender">
                  <hr>
                  <h3><strong>Gender</strong></h3>
                  <p>{{profileData.profile.gender}}</p>
                </div>
                <div ng-if="profileData.profile && profileData.profile.dob && profileData.profile.dob.day && profileData.profile.dob.month && profileData.profile.dob.year">
                  <hr>
                  <h3><strong>Birthday</strong></h3>
                  <p>{{profileData.profile.dob.day +" "+ profileData.profile.dob.month +" "+ profileData.profile.dob.year}}</p>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-7 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <span>
              <h1 class="panel-title pull-left" style="font-size:30px;">{{profileData.firstname + " " + profileData.surname}}</h1>                
              <div class="btn-group pull-right" uib-dropdown>
                <button ng-if="!followBtn && followBtn != 'self'" ng-click="follow(profileData._id)" id="single-button " type="button" class="btn btn-primary">
                  <span ng-if="!followBtn && followBtn != 'self'">Follow</span>
                </button>

                <button ng-if="followBtn && followBtn != 'self'" id="single-button " type="button" class="btn btn-primary" uib-dropdown-toggle>
                  <span ng-if="followBtn && followBtn != 'self'">Following </span>
                  <span ng-if="!followBtn && followBtn != 'self'">Follow</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem" ng-if="followBtn"><a href="javascript:void(0)" ng-click="unfollow(profileData._id)">Unfollow</a></li>
                </ul>
              </div>
              
          </span>
          <br><br>
          {{profileData.profile.tags}}
          <br><br>
          <form ng-submit="newStatus()">
          <input type="text" name="statusText" ng-model="status.statusText" class="form-control" ng-if="followBtn == 'self'" placeholder="Status Update" style="border: 0; border-bottom: 1px solid #ddd; border-radius: 0; -webkit-box-shadow: none;">
          </form>
          <span class="pull-left">
          <a href="javascript:void(0)" ng-click="active = 1" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Posts</a>
          <a href="javascript:void(0)" ng-click="active = 2" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Photos <span class="badge">{{imageCount}}</span></a>
          <a href="javascript:void(0)" ng-click="active = 3" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Following <span class="badge">{{profileData.following.length + profileData.following_attractions.length}}</span></a>
          <a href="javascript:void(0)" ng-click="active = 4" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-user" aria-hidden="true"></i> Followers <span class="badge">{{followers.length}}</span></a>
          <a href="javascript:void(0)" ng-click="active = 5" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-suitcase" aria-hidden="true"></i> Routes <span class="badge">{{routeCounter}}</span></a>
          </span>
        </div>
    </div>
    <hr>
    <div id="profileTabs">
      <uib-tabset active="active">
        <uib-tab index="1">
          <!-- Simple post content example. -->
          <div class="panel panel-default" ng-repeat="activity in profileData.activity" ng-if="activity.Text">
              <div class="panel-body">
                <div class="pull-left">
                    <a href="#">
                    <img class="media-object img-circle" ng-src="../uploads/profile/{{profileData.profile.photo}}" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                    </a>
                </div>
                <h4><a href="#/profile/{{profileData._id}}" style="text-decoration:none;"><strong>{{profileData.firstname + " " + profileData.surname}}</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> {{activity.Date}}</i></a></small></small></h4>
                <span>
                    <div class="navbar-right">
                      <div class="dropdown">
                          <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <i class="fa fa-cog" aria-hidden="true"></i>
                          <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                            <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                          </ul>
                      </div>
                    </div>
                </span>
                <hr>
                <div class="post-content">
                    <p><i class="fa fa-plane" aria-hidden="true"></i> {{activity.Text}}</p>
                </div>
                <hr>
                <div>
                    <div class="pull-right btn-group-xs">
                      <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                    </div>
                    <div class="pull-left">
                      <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                    </div>
                    <br>
                </div>
                <hr>
                <div class="media">
                    <div class="media-body">
                      <div class="col-md-2">
                        <textarea class="form-control" rows="1" placeholder="Comment" style="width: 70%;"></textarea>
                      </div>
                      
                    </div>
                </div>
              </div>
          </div>
        </uib-tab>
        <uib-tab index="2">
          <section style="width: 100%; height: 50px;">
          <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px; float: right;" ng-click="newAlbum()">New Album</button>
          </section>
          <div class="col-sm-4 col-md-3" ng-repeat="album in albums" ng-click="showAlbum(album)">
            <div class="thumbnail" album-right-click oncontextmenu="return false">
              <img ng-src="../uploads/photos/{{album.photos[0].file}}" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="..." style="width: 100%; height: 280px;">
              <div class="caption">
                <h3 ng-click="showAlbum(album)" class="text-center">{{album.album}}</h3>
                <p class="text-center"><span ng-if="album.photos.length > 0" class="label label-default">{{album.photos.length}} photos</span><span ng-if="!album.photos" class="label label-default">No photos yet</span></p>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="3">
          <section style="width: 100%; height: 40px;">
            <div class="btn-group" uib-dropdown style="float: right; margin-bottom: 20px;">
              <button id="split-button" type="button" class="btn btn-danger">Filter ({{selectedFilter}})</button>
              <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Filter ({{selectedFilter}})</span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a href="javascript:void(0)" ng-click="filterList('Users')">Users</a></li>
                <li role="menuitem"><a href="javascript:void(0)" ng-click="filterList('Places')">Places</a></li>
              </ul>
            </div>
          </section>

            <div class="block-update-card status" ng-repeat="fol in followingList">
              <div class="update-card-body">
                <div class="update-card-body">
                  <div class="col-xs-3">
                    <img ng-src="{{fol.profile.photo ? '../uploads/profile/'+fol.profile.photo : '../uploads/profile/default.png'}}" style="width: 100%;">
                  </div>
                  <div class="col-xs-9">
                    <h4><a href="#/profile/{{fol._id}}">{{fol.name}}</a></h4>
                    <p>User <span ng-if="fol.location">from {{fol.location}}</span></p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="card-action-pellet btn-toolbar pull-right" role="toolbar">
                <div class="btn-group fa fa-map-marker"></div>
                <div class="btn-group fa fa-magic"></div>
                <div class="btn-group fa fa-photo"></div>
              </div>
          </div>
        </uib-tab>
        <uib-tab index="4">
          <div class="block-update-card status" ng-repeat="fol in followers">
              <div class="update-card-body">
                <div class="update-card-body">
                  <div class="col-xs-3">
                    <img  ng-src="{{fol.profile.photo ? '../uploads/profile/'+fol.profile.photo : '../uploads/profile/default.png'}}" style="width: 100%;">
                  </div>
                  <div class="col-xs-9">
                    <h4><a href="#/profile/{{fol._id}}">{{fol.firstname + " " + fol.surname}}</a></h4>
                    <p>User <span ng-if="fol.location">from {{fol.location}}</span></p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="card-action-pellet btn-toolbar pull-right" role="toolbar">
                <div class="btn-group fa fa-map-marker"></div>
                <div class="btn-group fa fa-magic"></div>
                <div class="btn-group fa fa-photo"></div>
              </div>
          </div>
        </uib-tab>
        <uib-tab index="6">
          <div style="padding-bottom: 50px;">
          <h3 ng-click="backToAlbums()" style="float: left;"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</h3>
          <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px; float: right;" ng-click="uploadPhotos()">Upload Photos</button>
          </div>
          <div ng-repeat="photo in album.photos">
            <div class="col-xs-6 col-md-3">
              <a href="javascript:void(0)" class="thumbnail">
                <img ng-src="{{photo.file ? '../uploads/photos/'+photo.file : ''}}" alt="..." ng-click="showImage(photo)">
              </a>
            </div>
            
          </div>
        </uib-tab>
        <uib-tab index="5">
          <uib-accordion>
            <div ng-repeat="route in routes" uib-accordion-group class="panel-default" heading="{{route.name + ' ('+route.places.length+' places)'}}">
              Sync Code : {{route.uid}}
              <div class="timeline timeline-line-dotted">
                      <span class="timeline-label">
                          <span class="label label-primary">Distances are approximate</span>
                      </span>
                      <div class="timeline-item" ng-repeat="place in route.places track by $index">
                          <div class="timeline-point timeline-point-success">
                              <i class="fa fa-money"></i>
                          </div>
                          <div class="timeline-event">
                              <div class="timeline-heading">
                                  <h4>{{place.name}}</h4>
                              </div>
                              <div class="timeline-body">
                                  <p>3 Offers</p>
                              </div>
                              <div class="timeline-footer">
                                  <p class="text-right">{{it.distance}}</p>
                              </div>
                          </div>
                          <span class="timeline-label">
                            <span class="label label-primary" ng-if="route.places[$index + 1].name">{{route.places[$index + 1].distance}} to {{route.places[$index + 1].name}}</span>
                        </span>
                      </div>
                      <span class="timeline-label">
                          <span class="label label-primary">End of Route</span>
                      </span>
                  </div>
              </div>
          </div>
          </uib-accordion>
        </uib-tab>
      </uib-tabset>
    </div>    
</div>
<script type="text/ng-template" id="createAlbum.html">
  <div class="modal-body" id="modal-body">
    <div class="form-group">
      <label for="exampleInputName2">New Album name</label>
      <input type="text" class="form-control" ng-model="albumName" placeholder="Album Name">
    </div>
    <button type="submit" ng-click="submit(albumName)" class="btn btn-default">Create</button>
  </div>
</script>

<script type="text/ng-template" id="uploadPhotos.html">
  <div class="modal-body" id="modal-body" ngf-drop="uploadImages($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true"  ngf-pattern="'image/*'">
    <h2 class="text-center">Drag & Drop Images to upload</h2>
    <section class="text-center" style="font-size: 64px;">
      <i class="fa fa-file-image-o" aria-hidden="true"></i>
    </section>
  </div>
</script>

<script type="text/ng-template" id="showImage.html">
  <div class="modal-body" id="modal-body">
    <img ng-src="{{photo ? '../uploads/photos/'+photo.file : ''}}" class="center-block" style="height: 90%;">
  </div>
  <div class="modal-footer">
    {{photo.time}}
  </div>
</script>

<script type="text/ng-template" id="uploadPhotos.html">
  <div class="modal-body" id="modal-body" ngf-drop="uploadImages($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true"  ngf-pattern="'image/*'">
    <h2 class="text-center">Drag & Drop Images to upload</h2>
    <section class="text-center" style="font-size: 64px;">
      <i class="fa fa-file-image-o" aria-hidden="true"></i>
    </section>
  </div>
</script>
