<div class="col-md-8 col-md-offset-2">
  <div style="padding-top:50px;"> </div>
  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
              <div align="center">
                <img class="thumbnail img-responsive" ng-src="../uploads/profile/{{profileData.profile.photo}}" ng-click="changeProfilePhoto()" style="width: 300px; height: 300px;">
              </div>
              <div class="media-body">
                <hr>
                <h3><strong>Bio</strong></h3>
                <p>{{profileData}}</p>
                <hr>
                <h3><strong>Location</strong></h3>
                <p>Earth</p>
                <hr>
                <h3><strong>Gender</strong></h3>
                <p>Unknown</p>
                <hr>
                <h3><strong>Birthday</strong></h3>
                <p>January 01 1901</p>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <span>
              <h1 class="panel-title pull-left" style="font-size:30px;">{{profileData.firstname + " " + profileData.surname}} <small>{{profileData.email}}</small> <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="John Doe is sharing with you"></i></h1>
              <div class="btn-group pull-right" uib-dropdown>
                <button id="single-button " type="button" class="btn btn-primary" uib-dropdown-toggle>
                  Following <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href="#">Unfollow</a></li>
                </ul>
              </div>
              
          </span>
          <br><br>
          Lonewolf, Family holiday and Business Traveller
          <br><br>
          <input type="text" class="form-control" placeholder="Status Update" style="border: 0; border-bottom: 1px solid #ddd; border-radius: 0; -webkit-box-shadow: none;">
          <span class="pull-left">
          <a href="javascript:void(0)" ng-click="active = 1" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Posts</a>
          <a href="javascript:void(0)" ng-click="active = 2" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Photos <span class="badge">{{imageCount}}</span></a>
          <a href="javascript:void(0)" ng-click="active = 3" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Following <span class="badge">{{profileData.following.length + profileData.following_attractions.length}}</span></a>
          <a href="javascript:void(0)" ng-click="active = 4" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-user" aria-hidden="true"></i> Followers <span class="badge">42</span></a>
          <a href="javascript:void(0)" ng-click="active = 5" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-suitcase" aria-hidden="true"></i> Journeys <span class="badge">42</span></a>
          </span>
          <span class="pull-right">
          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Mention"></i></a>
          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>
          <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ignore"></i></a>
          </span>
        </div>
    </div>
    <hr>
    <div id="profileTabs">
      <uib-tabset active="active">
        <uib-tab index="1">
          <!-- Simple post content example. -->
          <div class="panel panel-default" ng-repeat="activity in profileData.activity">
              <div class="panel-body">
                <div class="pull-left">
                    <a href="#">
                    <img class="media-object img-circle" ng-src="../uploads/profile/{{profileData.profile.photo}}" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                    </a>
                </div>
                <h4><a href="#/profile/{{profileData._id}}" style="text-decoration:none;"><strong>{{profileData.firstname + " " + profileData.surname}}</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> {{activity.Date}}</i></a></small></small></h4>
                <span>
                    <div class="navbar-right">
                      <div class="dropdown">
                          <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <i class="fa fa-cog" aria-hidden="true"></i>
                          <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                            <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                          </ul>
                      </div>
                    </div>
                </span>
                <hr>
                <div class="post-content">
                    <p><i class="fa fa-plane" aria-hidden="true"></i> Travelled to {{activity.Location}}</p>
                </div>
                <hr>
                <div>
                    <div class="pull-right btn-group-xs">
                      <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                      <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                      <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                    </div>
                    <div class="pull-left">
                      <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                    </div>
                    <br>
                </div>
                <hr>
                <div class="media">
                    <div class="pull-left">
                      <a href="#">
                      <img class="media-object img-circle" ng-src="../uploads/profile/{{profileData.profile.photo}}" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="col-md-2">
                        <textarea class="form-control" rows="1" placeholder="Comment" style="width: 70%;"></textarea>
                      </div>
                      
                    </div>
                </div>
              </div>
          </div>
        </uib-tab>
        <uib-tab index="2">
          <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px; float: right;" ng-click="newAlbum()">New Album</button>
          <section ng-repeat="album in albums">
            <h3 ng-click="showAlbum(album)">{{album.album}} <span ng-if="album.photos.length > 0" class="label label-default">{{album.photos.length}} photos</span></h3>

          </section>
        </uib-tab>
        <uib-tab index="3">
          <section style="width: 100%; height: 40px;">
            <div class="btn-group" uib-dropdown style="float: right; margin-bottom: 20px;">
              <button id="split-button" type="button" class="btn btn-danger">Filter ({{selectedFilter}})</button>
              <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Filter ({{selectedFilter}})</span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a href="javascript:void(0)" ng-click="filterList('Users')">Users</a></li>
                <li role="menuitem"><a href="javascript:void(0)" ng-click="filterList('Places')">Places</a></li>
              </ul>
            </div>
          </section>

            <div class="block-update-card status" ng-repeat="fol in followingList">
              {{fol}}
              <div class="update-card-body">
                <div class="update-card-body">
                  <div class="col-xs-3">
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t31.0-8/q84/s960x960/16797156_1653912594625914_8836844879869293276_o.jpg?oh=f4a3bfa198b93ebed661599f3850b31a&oe=59519DC0" style="width: 100%;">
                  </div>
                  <div class="col-xs-9">
                    <h4>Vinothbabu K</h4>
                    <p>User from Aberdeen</p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="card-action-pellet btn-toolbar pull-right" role="toolbar">
                <div class="btn-group fa fa-map-marker"></div>
                <div class="btn-group fa fa-magic"></div>
                <div class="btn-group fa fa-photo"></div>
              </div>
          </div>
        </uib-tab>
        <uib-tab index="4">Vertical content 2</uib-tab>
        <uib-tab index="5">Vertical content 2</uib-tab>
        <uib-tab index="6">
          <div style="padding-bottom: 50px;">
          <h3 ng-click="backToAlbums()" style="float: left;"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</h3>
          <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px; float: right;" ng-click="uploadPhotos()">Upload Photos</button>
          </div>
          <div ng-repeat="photo in album.photos">
            <div class="col-xs-6 col-md-3">
              <a href="javascript:void(0)" class="thumbnail">
                <img src="../uploads/photos/{{photo.file}}" alt="..." ng-click="showImage(photo)">
              </a>
            </div>
            
          </div>
        </uib-tab>
      </uib-tabset>
    </div>    
</div>
<script type="text/ng-template" id="createAlbum.html">
  <div class="modal-body" id="modal-body">
    <div class="form-group">
      <label for="exampleInputName2">New Album name</label>
      <input type="text" class="form-control" ng-model="albumName" placeholder="Album Name">
    </div>
    <button type="submit" ng-click="submit(albumName)" class="btn btn-default">Create</button>
  </div>
</script>

<script type="text/ng-template" id="uploadPhotos.html">
  <div class="modal-body" id="modal-body" ngf-drop="uploadImages($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true"  ngf-pattern="'image/*'">
    <h2 class="text-center">Drag & Drop Images to upload</h2>
    <section class="text-center" style="font-size: 64px;">
      <i class="fa fa-file-image-o" aria-hidden="true"></i>
    </section>
  </div>
</script>

<script type="text/ng-template" id="showImage.html">
  <div class="modal-body" id="modal-body">
    <img ng-src="../uploads/photos/{{photo.file}}" class="center-block" style="height: 90%;">
  </div>
  <div class="modal-footer">
    {{photo.time}}
  </div>
</script>