<div style="width: 100%; height: 100%; position:fixed; margin-left: -15px;">
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Social Feed">
            <div class="panel panel-default" style="margin-top: 25px; width: 600px; margin-left: auto; margin-right: auto;">
                <div class="panel-body">
                    <div class="col-md-10 col-md-push-2" style="padding-left: 0; height: 60px;">
                        <dl>
                            <dt style="width: 100%;">Adrian Iwaszkiewicz <span style="float: right; font-size: 24px;"><i class="fa fa-paper-plane" aria-hidden="true"></i></span></dt>
                            <dd style="font-size: 10px">16/2/2017</dd>
                            <dd style=""><i class="fa fa-plane" aria-hidden="true" style="font-size: 24px;"></i> Flew to Torun</dd>
                        </dl>
                    </div>
                    <div class="col-md-2 col-md-pull-10">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/16806758_1648578745159299_4396223002733933212_n.jpg?oh=cbf337de322bfcc246282e6b989f0d57&oe=5937968C" alt="..." class="img-rounded" style="height: 60px">
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="margin-top: 25px; width: 600px; margin-left: auto; margin-right: auto;">
                <div class="panel-body">
                    <div class="col-md-10 col-md-push-2" style="padding-left: 0; height: 60px;">
                        <dl>
                            <dt style="width: 100%;">Adrian Iwaszkiewicz <span style="float: right; font-size: 24px;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span></dt>
                            <dd style="font-size: 10px">16/2/2017</dd>
                            <dd style=""><i class="fa fa-plane" aria-hidden="true" style="font-size: 24px;"></i> Flew to Aberdeen</dd>
                        </dl>
                    </div>
                    <div class="col-md-2 col-md-pull-10">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/16806758_1648578745159299_4396223002733933212_n.jpg?oh=cbf337de322bfcc246282e6b989f0d57&oe=5937968C" alt="..." class="img-rounded" style="height: 60px">
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Search">
            <input type="text" class="form-control" placeholder="Person/Agency" style="width: 500px; margin-left: auto; margin-right: auto; margin-top: 25px;">
        </uib-tab>
        <uib-tab index="2" heading="Upload Photos">
            <div style="width: 200px; background: blue">
                <i class="fa fa-picture-o" aria-hidden="true" style="width: 100px; font-size: 64px;"></i>
                <div>Drag & Drop Images to Upload</div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>