.quickName
    {
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .selected{
        background: #004899;
        color: white;
    }