<!DOCTYPE html>
<html lang="en" ng-app="index">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Index</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="angular/libs/ui-bootstrap-2.5.0.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cover.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body ng-controller="LoginCtrl as $ctrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" ng-click="$ctrl.login()">Login</button>
                    <span style="color: #46494C">Don't have a profile?<strong><a href="/register" style="color: #46494C"> Register!</a></strong></span>
                </form>
            </div>

        </div>

    </script>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">TripCards</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#quickStart">Planner</a></li>
                                <li><a href="#" ng-click="$ctrl.open('sm')">Portal</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">TripCards</h1>
                    <p class="lead">Portal for tourists and visitors which provides in-depth trip planning and communication abilities.
                        <br /> Pre-Planning or Plan on the Go!</p>
                    <p class="lead">
                        <a href="#features" class="btn btn-lg btn-default">Learn more</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>TripCards <a href="http://tripcards.com">2017</a>, by <a href="https://adriani6.co.uk">Adriani6</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div id="quickStart" style="width: 100%; background: #46494C; height: 220px;">
        <div class="col-md-4 col-md-offset-4">
            <h3 class="heading" style="margin-top: 100px;">Quick Start</h3>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Upload Image</span>
                <input type="text" class="form-control" placeholder="Enter Your Location" aria-describedby="sizing-addon1">
            </div>
        </div>
    </div>

    <div id="features">
        <div class="col-md-4 col-md-offset-4">
            <h3 class="heading" style="margin-top: 100px;">Features</h3>
            <div class="timeline">

                <!-- Panel -->
                <article class="panel panel-danger panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-heart"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        Follow travellers around the world and see what they are up to, where they go and what they see.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-success panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-globe"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        Follow Tourism Agences and see their recommended list of attractions and places to see. <strong> No more waiting and paying </strong> hotel recommended agencies.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-success panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plane"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        Quickly and easily plan your journey on the go!
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-success panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        Communicate with travellers in your area easily! Make plans & meet new people.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-success panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        Extensive search tools to plan your journey. See what's on your way to your destination or what's already around your radius.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-success panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-list-alt"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        Create your wish list of places you want to see.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-success panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        If you're a business owner, promoting your business is easier with TravelCards which can attract customers easier with our search tools.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-info panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        That is only the start. Take a look inside by creating your account.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->
            </div>

        </div>
    </div>

    <script src="angular/controllers/index.js"></script>
</body>

</html>